<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header') %>
    <main class="main">
        <%- body %>
    </main>
    <a class="not-found">not found!</a>
    <div class="search-items">
    </div>
    <a href="#header" id="top" style="display:none">
        <i class="fa fa-sort-asc fa-2x"></i>
    </a>
    <%- partial('_partial/footer') %>
    <%- js('js/jquery.js') %>
    <%- js('js/toki.js') %>  
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>