<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header') %>
    <main class="main">
        <%- body %>
    </main>
    <%- partial('_partial/footer') %>
    <%- js('js/toki.js') %>  
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>