<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header') %>
    <main class="main">
        <%- body %>
    </main>
    <div class="search-items">
    </div>
    <%- partial('_partial/footer') %>
    <script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <%- js('js/toki.js') %>  
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>