<article class="post">
            <h1>
                <a class="title" href="<%- url_for(page.path) %>"> 
                    <%= page.title %> 
                </a>
            </h1>
            <div class="meta">
                <a class="date"> 
                    <i class="fa fa-calendar" aria-hidden="true"></i>                    
                    <%- date(page.date, "YYYY-MM-DD") %>   
                </a>
                <% if(page.categories && (page.categories.length > 0)) { %>
                <a class="category">
                    <i class="fa fa-th" aria-hidden="true"></i>  
                </a>
               <% } %>
                <%- list_categories(page.categories,{
                       show_count: false,
                        class: 'category'
                   }) %>
                <% if(page.tags && (page.tags.length > 0)) { %>
                <a class="tag">
                    <i class="fa fa-tags" aria-hidden="true"></i>  
                </a>
                <% } %>
                    <%- list_tags(page.tags, {
                        show_count: false,
                        class: 'tag'
                    }) %>
            </div>
              <div class="toc">
  <%- toc(page.content, {list_number: false}) %>
</div>
            <div class="content">
                <%- page.content %>
            </div>
</article>
<div class="more">
<% if(page.prev){%>
    <div class="prev">
   <a href="<%- url_for(page.prev.path) %>">  <%= page.prev.title %></a>
    </div>
<%}%>
<div></div>
<% if(page.next){%>
    <div class="next">
    <a href="<%- url_for(page.next.path) %>"> <%= page.next.title %> </a>
    </div>
    <%}%>
</div>
    <%- partial('_partial/comment') %>