          <% if (theme.CopyRight) {%>
           <% if(page.citation){ %>
                       <div class="copyright">
                <div class="name">
                    <a><%= __('Copyright.Citation.Author') %>:</a>
                    <a><%= page.citation.author %></a>
                </div>
                <div class="link">
                    <a><%= __('Copyright.Citation.Link')%>:</a>
                    <a class="permalink" href="<%= page.citation.link %>" target="_blank"><%= page.citation.link %></a>
                </div>
            </div>
           <%}else{%>
            <div class="copyright">
                <div class="name">
                    <a><%= __('Copyright.Original.Author')%>:</a>
                    <a><%= theme.CopyRight.Author %></a>
                </div>
                <div class="link">
                    <a><%= __('Copyright.Original.Link')%>:</a>
                    <a class="permalink" href="<%= page.permalink %>"><%= page.permalink %></a>
                </div>
                <div class="license">
                    <a><%= __('Copyright.Original.Statement') %>:</a>
                    <a><%= _p('Copyright.Original.License', theme.CopyRight.License) %></a>
                </div>
            </div>
            <%}%>

          <%}%>