<header class="header">
    <h1>
        <a class="title" href="<%- url_for(theme.Menu.Home)%>">
            <%= config.title %>
        </a>
    </h1>
    <h2>
        <a class="motto">
            <%= theme.Site.Motto %>
        </a>
    </h2>
    <nav class="navbar">
        <ul class="menu">
            <% for (item in theme.Menu) {%>
                <li class="menu-item">
                    <a href="<%- url_for(theme.Menu[item]) %>" class="menu-item-link">
                        <%= item %>
                    </a>
                </li>
                <% } %>
        </ul>
    </nav>
</header>