<header class="header" id="header">
    <h1>
        <a class="title" href="<%- url_for(theme.Menu.Home)%>">
            <%= config.title %>
        </a>
    </h1>
    <h2>
        <a class="motto">
            <%= theme.Site.Motto %>
        </a>
    </h2>
    <nav class="navbar">
        <ul class="menu">
            <% for (item in theme.Menu) {%>
            <% if( item !== 'Search'){%>
                <li class="menu-item">
                    <a href="<%- url_for(theme.Menu[item]) %>" class="menu-item-link">
                        <%= item %>
                    </a>
                </li>
            <%}%>
                <% } %>
                <% if(theme.Menu.Search){%>
                <li class="menu-item">
                    <a class="menu-item-link search">
                        Search                   
                        <i class="fa fa-long-arrow-right search-icon" aria-hidden="true"></i>
                    </a>
                        <input placeholder="Search..." class="search-input" style="display:none;border:none!important;" onkeydown="onEnter(event)" onkeypress="onEnter(event)"></input>
                </li>
                <%}%>
        </ul>
    </nav>
</header>